.sidebar {
  background-color: #ffc801;
  height: 100vh;
  border-radius: 15px;
  // box-shadow: #ffc801 0px 30px 90px;
  // box-shadow: #ffc80154 0px 4px 16px, #ffc80157 0px 8px 24px, #ffc80162 0px 16px 56px;
  top: 10px;
  position: sticky;
  // box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  box-shadow: #ffc80154 0px 8px 24px, #ffc80154 0px 16px 26px,
    #ffc80154 0px 24px 24px;

    overflow:hidden;
    // overflow-y: scroll;

 
    .main-menu-items{
      height: 80vh;
      overflow: hidden;
      overflow-y: scroll;
    }

    .main-menu-items::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .main-menu-items {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }


}

.main-menu-items {
  ul{
    list-style: none;
    li {
   
      transition: .2s all;
      padding: 5px;
      a {
        font-family: $primary-font;
        color: black;
        text-decoration: none;
        padding: 5px;
      }

      &:hover{
        margin-right: 7px;
      }
    }
  }
  }


.header {


  position: relative;
  z-index: 1500;
  border-radius: 15px;
  padding: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
    .menu-btn-frame{
      // background: black;
      padding: 5px;
      display: inline-block;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      // transition: .2s all;
      // &:hover{

      //   box-shadow: none;
      //  }
    }



    .date-info{
      font-family: $primary-font;

      @media(max-width:992px){
        display: none;
      }

      span{
        // margin-left: 5px;
      }
    }

  }


main {
  //   background-color: aqua;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.banner-frame {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .swiper-pagination{
   
    
    display: flex;
    justify-content: end;
    align-items: center;
    height: 31px;
    padding-left: 30px;
  }

  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white!important;
}


  .banner-over-lay {
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.575);
    bottom: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    z-index: 300;
  }

  .banner-title {
    color: white;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: bold;
    margin-right: 10px;
  }
}

.news-item {  
  border-radius: 15px;

  a{
    text-decoration: none;
    color:black;
  }
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: .4s all;
  &:hover{
    opacity: .7;
  }
  .img-frame {
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .item-title {
    font-family: $primary-font;
    margin-bottom: 10px;
  }
  .item-description {
    font-family: $primary-font;
    font-weight: lighter;
  }
  .item-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $primary-font;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 10px;
    i{
      color: rgb(156, 156, 156);
      margin-left:5px;
    }
  }
}


.pagination-frame{
 display: flex;
 justify-content: center;
 font-family: $primary-font;
 .pagination{
   li{
    
    a{
      color: white;
      background-color: #ffc801;
      border-radius: 15px;
    }
   }
 }
}

body {
  background: #e3e3e3;

}



.page-frame {
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.title {
  font-family: $primary-font;
  font-weight: bold;
  margin: 20px 0;
}

.btn {
  text-align: center;
  a {
    font-family: $primary-font;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffc801;
    text-decoration: none;
    color: black;

    &:hover {
      transition: all 0.4s;
      background: rgba(255, 255, 255, 0);
      border-color: #ffc801;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
  }
}

.icon-btn{
  transition: .2s all;

  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover{

   box-shadow: none;
  }
  a{
    color: black;
    padding: 5px;
    display: block;
    i{
      font-size: 18px;
    }
  }

}
.yellow-icon-btn{
 background: #FFFDE7;

 i{
  color: #F9A825;
 }
}
.blue-icon-btn{
 background: #E1F5FE;

 i{
  color:#0277BD
 }
}
.orange-icon-btn{
  background: #E8F5E9;
  i{
    color: #2E7D32;
  }
}

.sidebar .sidebar-header {
  display: flex;
  justify-content: flex-start;
  padding-right: 2.3rem;
  align-items: center;
}

.side-col {
  transition: 0.4s all;
  * {
    transition: 0.4s all;
  }
  @media(max-width:992px){
    display: none;

   } 
}
.side-col.expanded {
  width: 0px!important;
  padding: 0;

}
.expanded {
 
  @media(min-width:992px){
    .sidebar .sidebar-header {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  
    .logo-frame > img {
       width: 0px !important;
      // visibility: visible !important;
      // opacity: 0 !important;
    }
    .main-menu-items {
      visibility: visible !important;
      opacity: 0 !important;
      transition: 0.2s all;
    }
  }

}

.mobile-menu-frame{
  @media(min-width:992px){
    display: none;
  }
  position: fixed;
  z-index: 1000;
  height: 100%;
  width:100%;
  right: -200%;
  transition: .4s all;
  background-color: $color-primary;

  .main-menu-items{
    margin-top: 150px;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
  }

}

.mobile-menu-frame.active{
  right: 0;
}



.preloader {

border-bottom:  4px solid black;
transition: .8s all;

   z-index: 10000000;
  //z-index: 10000;

  @media(max-width:992px) {

      z-index: 10000000;

  }

  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $color-primary;

  // transform: translate(-50%, -50%); //before top 0 .
  // left: 50%;  //before top 0 .
  // top: 50%;  //before top 0 .
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;



  .frame {
      width: 100px;
  }

  .cls-4, .cls-2, .cls-3 {


      text-transform: uppercase;
      animation: stroke 3s infinite alternate;
     // stroke-width: 2;
    // stroke: #365fa0;
  }


  @keyframes stroke {
      0% {
          fill: rgba(72, 138, 20, 0);
//stroke: rgba(54, 95, 160, 1);
          stroke-dashoffset: 25%;
          stroke-dasharray: 0 50%;
          stroke-width: 0;
      }

      70% {
          fill: rgba(72, 138, 20, 0);
          stroke: rgba(54, 95, 160, 1);
          stroke-width: .4;
      }

      80% {
          fill: rgba(72, 138, 20, 0);
          stroke: rgba(54, 95, 160, 1);
          stroke-width: .6;
         // stroke-width: 3;
      }

      100% {
          fill: black;
          stroke: rgba(54, 95, 160, 0);
          stroke-dashoffset: -25%;
          stroke-dasharray: 50% 0;
          stroke-width: .6;
         // stroke-width: 0;
      }
  }

  // .cls-1 {
  //     fill: #ffffff;
  // }

  // // .cls-2 {
  // //     fill: #f8b21c;
  // // }

  // .cls-3,
  // .cls-4
  //  {
  //     fill: none;
  //     stroke-miterlimit: 10;
  // }

  // .cls-3 {
  //     stroke: #ffffff;
  // }





  // .progresss {
  //     position: fixed;
  //     left: 0px;
  //     top: 0px;
  //     width: 100%;
  //     height: 100%;
  //     z-index: 9999;
  //     background-color: #F2F2F2;
  // }

  .barr {
      background-color: #ffffff;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 0%;
      height: 5px;
      border-radius: 3px;
  }

  .percentt {
      position: absolute;
      display: inline-block;
      top: 3px;
      left: 48%;
  }



}






svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  cursor: pointer;

}

svg path {
  fill: none;
  stroke: black;
  stroke-width: 3px;
  
}

svg + svg {
  margin-left: 1.5rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30px;
 
  transform: rotate(180deg);
}


.single-post-info{
 
  .primary-image { 
    img { width: 100%; height: 400px;}
  }

  .post-info  { 
    .info-items{
        padding-top: 10px;
        margin-bottom: 30px;
        font-family: $primary-font;
        font-weight: normal;
        display:flex;
        justify-content: start;
        align-items: center;
        width: 100%;

        i{
          margin-left: 5px;
        }

        div{
          margin-left: 50px;
        }
    }
  }

}

.content{
  font-family: $primary-font;
  line-height: 2;
  text-align: justify;
}


#top,
#bottom {
  stroke-dasharray: 30, 75.39;
  @media(max-width:992px){
    stroke-dasharray: 75.39;
    stroke-dashoffset: -60;
  }
  transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}

svg.active #top,
svg.active #bottom {
  stroke-dasharray: 75.39;
  stroke-dashoffset: -60;
  @media(max-width:992px){
    stroke-dasharray: 30, 75.39;
    stroke-dashoffset : unset
  }
}

svg:nth-child(2) {
  transform: rotate(0deg);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

svg:nth-child(2) path {
  transition: all 0.4s ease-in-out 0.6s;
}

svg:nth-child(2).active {
  transform: rotate(-180deg);
}

.rocket #top {
  stroke-dasharray: 30, 88;
}
